$main: #31a47e
$main-dark: #31857e

@font-face
	font-family: lexendDeca
	src: url("/lexend.woff2") format("woff2")
	font-display: swap

:root
	font-family: lexendDeca, Arial, sans-serif
	color: black
	background-color: white

html
	scroll-behavior: smooth
	overflow-y: overlay // Fix scrollbar from changing the width of the screen

body
	margin: 0

main
	padding: 5rem 0

::selection
	background: $main

p
	line-height: 1.5rem

a
	color: $main
	transition: color 0.2s
	&:hover
		transition: color 0.2s
		color: $main-dark

#bookmarklet
	background: $main

.thinpage
	display: flex
	justify-content: center
	
	.thintext
		max-width: 700px
		padding: 0 6%

