$main: #31a47e
$main-dark: #31857e

@font-face
	font-family: lexendDeca
	src: url("/lexend.woff2") format("woff2")
	font-display: swap

:root
	font-family: lexendDeca, "Segoe UI", sans-serif
	color: white
	background-color: black

body
	margin: 0

main
	padding: 5rem 3rem

header
	margin: 0
	top: 0

	height: 8vh
	position: fixed
	width: 100%
	display: grid
	grid-template-columns: 1fr 1fr
	column-gap: 0.7rem

	align-items: center
	justify-content: center
	background-color: #31a47e
.left
	padding: 0 3rem
.right
	text-align: right
	padding: 0 3rem

.headerlogo
	height: 5vh
