$main: #31a47e
$main-dark: #31857e

@font-face
	font-family: lexendDeca
	src: url("/lexend.woff2") format("woff2")
	font-display: swap

:root
	font-family: lexendDeca, Arial, sans-serif
	color: black
	background-color: white

body
	margin: 0

main
	padding: 5rem 8rem

p
	line-height: 1.5rem


.eccb
	position: absolute
	object-fit: contain
	height: 80vh
	margin-top: 3%
	left: -30%
	max-width: 80vw

.grid
	width: 100%
	display: grid
	grid-template-columns: 1fr 1fr
	column-gap: 0.7rem

header
	width: 100%
	font-size: 1.2rem
	top: 0
	align-items: center
	display: flex
	justify-content: space-between

	height: 8vh
	position: fixed

	background-color: #31a47e

	.right
		margin-right: 8rem
		padding: 0
		display: flex
		float: left
		justify-content: flex-end
		right: 1rem

	.headerlogo
		margin-left: 10vw
		img
			height: 5vh

	a
		min-width: 10%
		margin: 0 1.5rem
		color: white
		text-decoration: none
		&:hover
			filter: brightness(85%)

.left
	padding: 0 8rem
.right
	text-align: right
	padding: 0 8rem

.mainLogo
	width: 30vw
	max-width: 20rem
	margin-top: 30vh
	
.cwsLogo
	width: 25vw
	max-width: 15rem
.cwsButton
	border: 0
	background-color: $main
	border-radius: 1rem
	&:hover
		background-color: $main-dark


@media screen and (max-width: 600px)
		
	.eccb, .headerlogo
		visibility: hidden

	.grid, header
		grid-template-columns: 0fr 1fr

	.right a
			min-width: 2rem

	.mainLogo
		width: 50vw
		max-width: 28rem

	.cwsLogo
		width: 35vw
		max-width: 20rem